#concepts-content {
    padding-top: 5rem;
    height: 90vh;
}

#concepts-contents {
    display: flex;
    padding-bottom: 5rem;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.concepts-left-content {
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.container-slide_concepts {
    width: 400%;
    height: 500px;
    display: flex;
}

.container-slide_concepts input {
    display: none;
}

.slide_concept {
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide_concept img {
    width: 600px;
}

.manual-navigation {
    position: absolute;
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 435px;
}

.manual-btn {
    border: 2px solid #0d0d0d;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.manual-btn:hover {
    background-color: #0d0d0d;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .slide_concept.first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #0d0d0d;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navigation-auto{
    position: absolute;
    width: 600px;
    display: flex;
    margin-top: 435px;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #0d0d0d;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #0d0d0d;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #0d0d0d;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #0d0d0d;
}

#concepts-right-content{
    width: 500px;
}

#description-concept {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}